html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;
}

h1 {
    font-size: large;
}

h2 {
    text-align: center;
}

header {
    background-color: rgb(255, 182, 47);
    width: 90%;
    height: 150px;
    /* max-width: 450px; */
    /* padding: 60px */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    /* border: 2px solid black; */
}

.middle.container {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* border: 2px solid black; */
    flex-wrap: wrap;
    background-color: grey;
}

.middle.box {
    flex: 1 0 425px;
    height: 400px;
    margin: 10px;
}

.middle.right {
    background-color: rgb(150, 150, 228); 

    /* grid-template-columns: 1 / 2;
    grid-template-rows: 1; */
}
.middle.left {
    background-color: rgb(157, 218, 97);
    /* grid-template-columns: 2 / 3;
    grid-template-rows: 1; */
}

.bottom.container{
    /* padding: 20px 20px; */
    /* border: 2px solid orange; */
    background-color: grey;
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: border-path;
}

.bottom.box {
    height: 300px;
    flex: 1 0 250px;
    margin: 10px 10px;
}

.bottom.left {
    background-color: rgb(137, 137, 206);
}

.bottom.center {
    background-color: rgb(160, 233, 88); 
}

.bottom.right {
    background-color: rgb(228, 70, 70); 
}

@media screen and (max-width: 600px) {
    * {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .middle.container{
        background-color: black;
    }
}

@media screen and (max-width: 800px) {
    .middle.right {
        background-color: rgb(228, 194, 150); 
    }
    .middle.left {
        background-color: rgb(218, 97, 103);
    }
    .bottom.left {
        background-color: rgb(206, 137, 172);
    }
    
    .bottom.center {
        background-color: rgb(233, 182, 88); 
    }
    
    .bottom.right {
        background-color: rgb(70, 117, 228); 
    }
}
  